@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200&family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(25, 24, 24);
    margin: 0px 250px;
    color: white;
    margin-top: 70px;
    padding: 20px 20px;
    border-radius: 30px;
    
}
.bar{
    text-align: center;
}

select{
    border-radius: 10px;
    border: none;
}
.subm{
    width: 100px;
}

.menu{
    display: flex;
    justify-content: center;
    height: auto;
    padding: 100px 200px;
    text-align: center;
    
    
    
}
.menu p{
    text-align: center;
    margin: 50px 0px;
}
h1{
    margin-top: -20px;
}

.list{
    display: flex;
    justify-content: space-around;
    height: auto;
    flex-direction: row;
    flex-flow:wrap ;
    position: relative;
}
.m{
    width: 180px;
    height: 230px;
    background-image:url(images/tranding-food-3.png) ;
    background-size: cover;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#member{
    text-decoration: none;
    color: black;
}
h4{
    font-size: 10px;
}
a:hover{
    color: azure;
}
.view{
    margin: 100px 100px;
    height: 450px;
    padding: 80px;
    border-radius: 30px;
    box-shadow: 0 0 17px rgb(25, 24, 24);
    display: flex;
}
button{
    width: 80%;
    background-color: aliceblue;
    border-color: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
 }
 .recipe{
    width: 50%;
    height: 100%;
    margin-right: 20px;
 }
 .recipe h1{
    font-size: 30px;
 }
 .img{
    
    width: 50%;
    height: 100%;
    background-image:url(images/tranding-food-3.png);
    background-size: cover;
 }
.a form button{
    margin-left: 44.5%;
    margin-bottom: 30px;
    background-color: black;
    color: azure;
    border-radius: 10px;
    border: none;
}













